.card{
    margin-top: 10px;
    width: 20rem;
    margin-left: 32%;
} 

.card-title{
    color: white;
    padding-left: 0px;
}

h5{
    padding-left: 5%;
    font-size: larger;
    color: white;
}