html{
    background-color: rgb(34, 34, 34);
    overflow-x: hidden;
}

#inner-container{
    font-family: 'Poppins', sans-se if;
    margin-top: 50px;
    border: solid;
    border-color: rgb(20, 20, 20);
    padding: 10px;
    background-color: rgb(20, 20, 20);
}

#logo{
    min-width: 100px;
    width: 100px;
}

h5{
    padding-left: 5%;
    font-size: larger;
    color: white;
}


/* barra delle funzioni */
#funzioni{
    border-right: solid;
    border-color: rgb(43, 43, 43);
    padding-left: 5%;
}

.link{
    text-decoration: none;
}

#barra-ricerca{
    background-color: rgb(20, 20, 20) !important;
    border-color: white  !important;
}

#btn-altro{
    background-color: purple;
    max-width: 100px;
}

.dropup{
    margin-top: 50px !important;
}

h4{
    padding-top: 40px;
    color: white;
    font-size: larger;
}

h4:hover{
    color: purple;
}


/* profilo */



/* immagini profilo */
#profilo{
    margin-right: 0px;
    border-left: solid;
    border-color: rgb(43, 43, 43);
    color: white;
}

.profile-image{
    max-width: 70px;
}


/* utilities */
.sidebar{
    position: sticky;
    top: 2rem;
}

.white{
    color: white;
}

.grey{
    color: rgb(59, 59, 59);
}

.bottom-border{
    border-bottom: solid;
    border-color: rgb(20, 20, 20);
    padding: 3px;
}