.profile-img{
    max-width: 200px !important;
    margin-bottom: 5%;
}

.post{
    max-width: 15rem;
    margin-left: 15%;
}

.post:hover{
    position: relative;
    top: -4px;
    transition: all 0.5;
}

.border-b{
    border-bottom: solid;
    border-color: rgb(0, 0, 0);
    margin-right: 8% !important;
    margin-left: 8% !important;
}

form textarea{
    border-radius: 10px;
    border-color: rgb(206, 206, 206);
}

.btn-outline-primary{
    --bs-btn-color: purple !important;
    --bs-btn-border-color: purple !important;
    --bs-btn-hover-bg: purple !important;
    --bs-btn-hover-border-color: purple !important;
    --bs-btn-active-bg: purple !important;
    --bs-btn-active-border-color: purple !important;
    --bs-btn-disabled-color: purple !important;
    --bs-btn-disabled-border-color: purple !important;
}

.btn-primary{
    --bs-btn-bg: purple !important;
    --bs-btn-border-color: purple !important;
    --bs-btn-hover-bg: purple !important;
    --bs-btn-hover-border-color: purple !important;
    --bs-btn-active-bg: purple !important;
    --bs-btn-active-border-color: purple !important;
    --bs-btn-disabled-bg: purple !important;
    --bs-btn-disabled-border-color: purple !important;
}